add_header X-Frame-Options SAMEORIGIN;
add_header X-Content-Type-Options nosniff;
add_header X-XSS-Protection "1; mode=block";

server 
{
    listen 80;
    server_name {{ test_domain }};
    access_log /var/log/nginx/{{ test_domain }}.access.log; 
    error_log /var/log/nginx/{{ test_domain }}.error.log notice;
    return 301 https://$server_name$request_uri; # редирект обычных запросов на https
}

server 
{
    listen 443 ssl;
    server_name {{ test_domain }};

    root /var/www/html;

    index index.html index.nginx-debian.html;

    location / {
        try_files $uri $uri/ =404;
    }

    ssl_certificate         /etc/nginx/ssl/{{ test_domain }}/fullchain.pem;
    ssl_certificate_key     /etc/nginx/ssl/{{ test_domain }}/privkey.pem;
    ssl_trusted_certificate /etc/nginx/ssl/{{ test_domain }}/fullchain.pem;

    ssl_session_cache shared:SSL:50m;
    ssl_session_timeout 5m;

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers "ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4";

    access_log /var/log/nginx/{{ test_domain }}.access.log;
    error_log /var/log/nginx/{{ test_domain }}.error.log notice;
}